
/********************************/
/* 			 COLOURS 			*/
/********************************/

.color-1 {
	color: #000000; /* black */
}


.color-2 {
	color: #FFFFFF; /* white */
}


.color-3 {
	color: #6FD9E9; /* light-blue / cyan */
}


.color-4 {
	color: #322D31; /* purple-grey */
}


.color-5 {
	color: #1C021C;	/* purple-black */
}


.color-6 {
	color: #1887C9; /* dark-blue */ 
}

.color-7 {
	color: #333333;	/* medium-grey */
}

.color-8 {
	color: #231F20;	/* dark-grey */
}

.color-9 {
	color: #F2453E;	/* red */
}

.color-10 {
	color: #F1F2F3;	/* off-white */
}

.color-11 {
	color: #9A9B9C;	/* light-grey */
}

.color-12 {
	color: #33ccff;
}

.color-13 {
	color: #1d5c58; /* set to soothe green */
}

.color-14 {
	color: #33ccff; /* aqualand blue */
}

.color-15 {
	color: #ff76a7; /* aqualand pink */
}

/********************************/
/* 			ARROW COLOURS 		*/
/********************************/

.arrow-up.border-color-8:after {
	border-bottom-color: #231F20;
}

/********************************/
/* 			LINK COLOURS 		*/
/********************************/

a:hover {
	color: #3069AD;	
}


/********************************/
/* 		BACKGROUND COLOURS 		*/
/********************************/


.bg-color-clear {
	background-color: transparent;
}



.bg-color-1 {
	background-color: #000000;	
}


.bg-color-2 {
	background-color: #FFFFFF;	
}


.bg-color-3 {
	background-color: #42b6e7;	
}


.bg-color-4 {
	background-color: #322D31;	
}


.bg-color-5 {
	background-color: #125a7d;	
}


.bg-color-6 {
	background-color: #1887C9; /*#48B6E4;	*/
}

.bg-color-7 {
	background-color: #333333;	
}

.bg-color-8 {
	background-color: #231F20;	
}

.bg-color-10 {
	background-color: #F1F2F3;	
}

.bg-color-12 {
	background-color: #33ccff;
}

.bg-color-13 {
	background-color: #1d5c58; /* set to soothe green */
}

.bg-color-14 {
	background-color: #ff76a7; /* aqualand pink */
}

/********************************/
/* 		BORDER COLOURS 			*/
/********************************/


.border-color-1 {
	border-color: #000000;	
}


.border-color-2 {
	border-color: #FFFFFF;	
}


.border-color-3 {
	border-color: #6FD9E9; /*48B6E4;*/
}


.border-color-4 {
	border-color: #322D31; /*3069AD; */
}

.border-color-7 {
	border-color: #333333;	/* medium-grey */
}

.border-color-9 {
	border-color: #F2453E;	
}

/********************************/
/* 			OPACITY 			*/
/********************************/


.bg-color-opacity-1 {
	background-color: rgba(0, 0, 0, 0.4);
}


.bg-color-opacity-2 {
	background-color: rgba(255, 255, 255, 0.5);
}

.bg-color-opacity-5 {
	background-color: rgba(28, 2, 28, 0.95);
}


/********************************/
/* 			DEFAULTS 			*/
/********************************/

h5 a {
	color: #000000;
	text-decoration: underline;
}