
/********************************/
/* 			FONT FACES			*/
/********************************/

/********************************/
/* 			FONT SIZING			*/
/********************************/

body {
	font-family: brandon-grotesque, sans-serif;	
	font-style: normal;
	font-weight: 400;
}


h1 {
	font-size: 8vw;
	font-family: brandon-grotesque, sans-serif;
	font-style: normal;
	font-weight: 700;
}

h1.small {
	font-size: 6.7vw;
}

h1.small-2 {
	font-size: 7.6vw;
}

h1.medium {
	font-size: 9vw;
}

h1.medium-1 {
	font-size: 10vw;
}

h1.medium-2 {
	font-size: 11vw;
}

h1.large {
	font-size: 12vw;
}


h1.font-header {
	font-size: 5vw;
}


h2 {
	font-size: 4.8vw;
	font-family: brandon-grotesque, sans-serif;
	font-style: normal;
	font-weight: 700;
}

h2.small {
	font-size: 4vw;
}

h2.medium {
	font-size: 10vw;
}

h2.large {
	font-size: 5.5vw;
	/*line-height: 8vw;*/
}


h3 {
	font-size: 4.2vw;
	font-family: brandon-grotesque, sans-serif;
	font-style: normal;
	font-weight: 500;
}

h3.small {
	font-size: 3.6vw;
}

h3.large {
	font-size: 4.4vw;
}

h4 {
	font-size: 3.5vw;
	line-height: 5vw;
	font-family: brandon-grotesque, sans-serif;
	font-style: normal;
	font-weight: 500;
}

h4.large {
	font-size: 3.7vw;
}

h5 {
	font-size: 3vw;
	font-family: brandon-grotesque, sans-serif;
	font-style: normal;
	font-weight: 400;	
}

h5.font-header {
	font-size: 2vw;
	font-family: brandon-grotesque, sans-serif;
	font-style: normal;
	font-weight: 400;	
}



.page-text {
	font-size: 2.5vw;
}

.page-text-large {
	font-size: 3.5vw;
}

.page-text-larger {
	font-size: 4.6vw;
}



.page-link {
	font-size: 3.5vw;
	font-decoration: underline;	
}

a.page-link {
	font-decoration: underline;	
}

.button-page {
	font-size: 4vw;
	font-family: brandon-grotesque, sans-serif;
	font-style: normal;
	font-weight: 500;	
}


.button-header {
	font-size: 3vw;
	font-family: brandon-grotesque, sans-serif;
	font-style: normal;
	font-weight: 500;	
}

.button-question.small {
	font-size: 3.45vw;
}


.page-input-text {
	font-size: 3.6vw;
	font-family: brandon-grotesque, sans-serif;
	font-style: italic;
	font-weight: 400;	
}

.page-input-text.small {
	font-size: 3vw;
}

.page-input-select {
	font-size: 4vw;
	font-family: brandon-grotesque, sans-serif;
	font-style: normal;
	font-weight: 400;	
	height: 13vw;
}

.page-input-select.small {
	height: 8vw;
}


.bg-danger {
	font-family: brandon-grotesque, sans-serif;
	font-style: normal;
	font-weight: 400;	
	font-size: 4vw;	
}

/********************************/
/* 			LINE SPACING		*/
/********************************/

.extra-padding {
	line-height: 1.5em;	
}

.extra-padding-small {
	line-height: 1.3em;	
}

/********************************/
/* 			ALIGNMENT			*/
/********************************/

.text-align-left {
	text-align: left;
}

/********************************/
/* 			FONT STYLES			*/
/********************************/

.title-bold {
	font-family: brandon-grotesque, sans-serif;
	font-style: normal;
	font-weight: 700;	
}

.title-semi-bold {
	font-family: brandon-grotesque, sans-serif;
	font-style: normal;
	font-weight: 500;	
}

.title-light {
	font-family: brandon-grotesque, sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 5vw;
}

.title-italic {
	font-family: brandon-grotesque, sans-serif;
	font-style: italic;
	font-weight: 400;	
}


.underline {
	text-decoration: underline;	
}

.lowercase {
	text-transform: lowercase;	
}

.uppercase {
	text-transform: uppercase;	
}

.capitalize {
	text-transform: capitalize;	
}

.condensed {
	transform:scale(0.8,1); 
    -webkit-transform:scale(0.8,1); 		
}

/********************************/
/* 			MAX SIZE 			*/
/********************************/


@media all and (min-width: 960px) {
	
	h1 {
		font-size: 75px;
	}
	
	h1.small {
		font-size: 60px;
	}
	
	h1.small-2 {
		font-size: 70px;
	}
	
	h1.medium {
		font-size: 90px;
	}
	
	h1.medium-1 {
		font-size: 100px;
	}
	
	h1.medium-2 {
		font-size: 110px;
	}
	
	h1.large {
		font-size: 120px;
	}
	
	
	h1.font-header {
		font-size: 49px;
	}
	
	
	h2 {
		font-size: 49px;
	}
	
	h2.medium {
		font-size: 52px;
	}
	
	h2.large {
		font-size: 55px;
	}
	
	
	h3 {
		font-size: 40px;
	}
	
	h3.small {
		font-size: 36px;
	}
	
	h3.large {
		font-size: 44px;
	}	
	
	h4 {
		font-size: 34.1px;
		line-height: 48.75px;
	}

	h4.large {
		font-size: 37px;
	}
	
	h5.font-header {
		font-size: 29.5px;
	}	
	
	.button-header {
		font-size: 29.5px;
	}
	
	
	.page-text {
		font-size: 20px;
	}
	
	.page-text-large {
		font-size: 35px;
	}

	.page-text-larger {
		font-size: 45px;
	}
	
	
	.page-link {
		font-size: 35px;		
	}
	
	
	.button-page {
		font-size: 39px;
	}
	
	
	.button-back {
		font-size: 29.5px;
	}
	
/*		
	.button-question {
		font-size: 25px;	
	}
*/	
	
	.page-input-text {
		font-size: 36px;
	}
	
	.page-input-text.small {
		font-size: 29.5px;
	}
	
	.page-input-select {
		font-size: 40px;
		height: 107px;
	}
	
	.page-input-select.small {
		height: 80px;
	}
	
	.bg-danger {
		font-size: 39px;
	}
	
	
	.button-question {
		font-size: 44px;
	}
	
	.button-question.small {
		font-size: 34px;
	}
	
	
}