
/********************************/
/* 			FONT FACES			*/
/********************************/


@font-face {
    font-family: ProximaNovaCondensed; /* SansaNormal;*/
    src: url(../fonts/proxima-nova-alt-condensed-light.otf);
}

@font-face {
    font-family: ProximaNovaBold; /*SansaSemiBold;*/
    src: url(../fonts/proxima-nova-bold.otf);
}

@font-face {
    font-family: ProximaNovaSemiBold; 
    src: url(../fonts/proxima-nova-semibold.otf);
}

@font-face {
    font-family: ProximaNovaLight; /*SansaBold;*/
    src: url(../fonts/proxima-nova-light.otf);
}

@font-face {
    font-family: ProximaNovaRegular; /*SansaItalic;*/
    src: url(../fonts/proxima-nova-regular.otf);
}






/********************************/
/* 			FONT SIZING			*/
/********************************/

body {
	font-family: ProximaNovaLight;	
}


h1 {
	font-size: 8vw;
	font-family: ProximaNovaRegular;
}

h1.small {
	font-size: 7vw;
}

h1.large {
	font-size: 12vw;
}


h1.font-header {
	font-size: 5vw;
}


h2 {
	font-size: 4.8vw;
	font-family: ProximaNovaBold;
}

h2.bold {
	font-size: 5.7vw;
	line-height: 8vw;
}


h3 {
	font-size: 4.2vw;
	font-family: SansaItalic;
}


h4 {
	font-size: 3.5vw;
	line-height: 5vw;
	font-family: ProximaNovaSemiBold;
}

h5 {
	font-size: 3vw;
	font-family: ProximaNovaRegular;	
}

h5.font-header {
	font-size: 2vw;
	font-family: SansaNormal;
}



.page-text {
	font-size: 2.5vw;
}

.page-text-large {
	font-size: 3.5vw;
}

.page-link {
	font-size: 3.5vw;
	font-decoration: underline;	
}

a.page-link {
	font-decoration: underline;	
}

.button-page {
	font-size: 4vw;
	font-family: ProximaNovaSemiBold;
}


.button-header {
	font-size: 3vw;
	font-family: ProximaNovaSemiBold;
}

/*
.button-question {
	font-size: 4.5vw;
	font-family: SansaItalic;	
}
*/
.button-question.small {
	font-size: 3.45vw;
}


.page-input-text {
	font-size: 4vw;
	font-family: ProximaNovaRegular;
}

.page-input-select {
	font-size: 4vw;
	font-family: ProximaNovaRegular;
	height: 13vw;
}


.bg-danger {
	font-family: ProximaNovaRegular;
	font-size: 4vw;	
}


/********************************/
/* 			FONT STYLES			*/
/********************************/

.title-bold {
	font-family: ProximaNovaBold;
}

.title-semi-bold {
	font-family: ProximaNovaSemiBold;	
}

.title-condensed {
	font-family: ProximaNovaCondensed;
}

.title-regular {
	font-family: ProximaNovaRegular;
}

.title-light {
	font-family: ProximaNovaLight;
}


.underline {
	text-decoration: underline;	
}

.uppercase {
	text-transform: uppercase;	
}


/********************************/
/* 			MAX SIZE 			*/
/********************************/


@media all and (min-width: 960px) {
	
	h1 {
		font-size: 75px;
	}
	
	h1.small {
		font-size: 60px;
	}
	
	h1.large {
		font-size: 120px;
	}
	
	
	h1.font-header {
		font-size: 49px;
	}
	
	
	h2 {
		font-size: 49px;
	}
	
	
	h2.bold {
		font-size: 56px;
		line-height: 80px;
	}
	
	
	h3 {
		font-size: 40px;
	}
	
	
	h4 {
		font-size: 34.1px;
		line-height: 48.75px;
	}

	
	h5.font-header {
		font-size: 29.5px;
	}
	
	
	.button-header {
		font-size: 29.5px;
	}
	
	.page-text {
		font-size: 20px;
	}
	
	
	.page-text-large {
		font-size: 35px;
	}

	
	.page-link {
		font-size: 35px;		
	}
	
	
	.button-page {
		font-size: 39px;
	}
	
	
	.button-back {
		font-size: 29.5px;
	}
	
/*		
	.button-question {
		font-size: 25px;	
	}
*/	
	
	.page-input-text {
		font-size: 30px;
	}
	
	
	.page-input-text {
		font-size: 39px;
	}
	
	.page-input-select {
		height: 107px;
	}
	
	
	.bg-danger {
		font-size: 39px;
	}
	
	
	.button-question {
		font-size: 44px;
	}
	
	.button-question.small {
		font-size: 34px;
	}
	
	
}